$primary_color: #EFEFEF

html, body
  background-color: $primary_color
  font:
    family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif
    size: 14px

a
  color: blue
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  width: 800px
  margin: 0 auto
  background-color: #FFF
  padding: 20px 40px
  border: solid 1px #BFBFBF

#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #ccffcc
  border: solid 1px #66cc66

#flash_error,
#flash_alert
  background-color: #ffcccc
  border: solid 1px #cc6666

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: white
  p
    margin: 8px 10px
  ul
    margin: 0

.header_wrapper
  width: 880px
  margin: 0 auto
  overflow: hidden
  padding: 20px 0

.logo
  a
    color: #338DCF
    float: left
    font-size: 48px
    font-weight: bold
    text-shadow: 2px 2px 2px #FFFFFF
    text-decoration: none

#login_user_status
  float: right

.asset_table
  width: 100%

.asset_file_name_title,
.asset_title
  font:
    weight: bold

.asset_title
  text-align: center

.asset_file_name,
.asset_modified,
.asset_details
  font-weight: normal
  line-height: 25px
  color: #4F4F4F
  text-align: center
  
  a:link,
  a:visited
    text-decoration: none
    color: #1D96EF

.asset_file_name
  width: 500px
  text-align: left

.asset_modified
  width: 200px

#menu
  width: 800px
  padding: 0 20px
  margin: 20px auto
  overflow: hidden
  
  ul
    padding: 0
    margin: 0
    
    li
      list-style: none
      float: left
      display: block
      margin-right: 10px
      
      a:link,
      a:visited
        display: block
        padding: 0 15px
        line-height: 25px
        text-decoration: none
        color: #45759F
        background: #EFF8FF
        border: 1px solid #CFEBFF
      
      a:hover,
      a:active
        background: #DFF1FF
        border: 1px solid #AFDDFF